* {

margin: 0;

}

html, body{

    color: #0e0a0a;
    border-color: #dddddd;
    font-size: 20px;
    line-height: 30px;
}


.wrapper {
    font-family: 'Lacquer', sans-serif;
    min-height: 100%;
    height: auto;
    height: 100%;
    margin: 0 auto -4em;

}

#psychic{

    text-align: left;
}


#container{

    width: 100%;


    max-width: 960px;


    margin: 0 auto;


    clear: both;

}


.footer, .push {

    height: 4em;
    text-align: center;

}
